.grid {
    display: grid;
    background-color: #F8F9FA;
    height: calc(100vh - 64px);
}

.grid > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.grid > div {
    border: 1px solid #FFF3D4;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

label {
    margin-right: 5px;
}